:root.light {
  --sidebar-bg-color: rgb(25, 146, 212);
  --header-bg-color: white;
  --content-bg-color: rgb(218, 218, 218);
  --sidebar-icon-color: #ffffff;
  --input-text-bg-color: grey;
}

body {
  margin: 0px;
}

/*Basic layout*/
main {
  display: grid;
  grid-template-columns: 200px minmax(200px, 1fr);
  grid-template-rows: 150px minmax(200px, 1fr);
}

.sidebar {
  grid-area: 1/1/3/2;
  background-color: var(--sidebar-bg-color);

  /*flex setting*/
  display: flex;
  flex-direction: column;

  /*MBP*/
}

.header {
  grid-area: 1/2/2/3;
  background-color: var(--header-bg-color);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.content {
  grid-area: 2/2/3/3;
  background-color: var(--content-bg-color);
}

/*inder grid*/

/*In header*/
.search_bar {
  display: flex;
  margin: 10px;
  align-items: center;
  gap: 30px;
  height: fit-content;
}
.search_bar > input[type="text"] {
  flex: 0.8;
  border-radius: 10px;
  background-color: var(--content-bg-color, "white");
  height: 20px;
  margin: 0;
}

/*font setting*/
.db_list_p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 1.2rem;
  color: white;
}

.db_list_p:hover {
  text-decoration: underline;
}

/*other setting*/
ul li,
.sidebar_header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 45px;

  cursor: pointer;
}

ul {
  padding: 12px;
}

.sidebar_header {
  padding: 10px;
}

.sidebar i {
  color: var(--sidebar-icon-color);
}
